<h1>Hello world</h1>
<ul>
  <li><strong>Rails version:</strong> <%= Rails.version %></li>
  <li><strong>Rack version:</strong> <%= Rack.release %></li>
  <li><strong>Ruby version:</strong> <%= RUBY_DESCRIPTION %></li>
  <li>
    <strong>
      eppo-server-sdk version:
    </strong>
    <%= Gem.loaded_specs["eppo-server-sdk"].version %>
  </li>
  <li>
    <strong>
      your-sample-feature-flag:
    </strong>
    <%= Rails.application.config.eppo_client.get_boolean_assignment("your-sample-feature-flag", 'foo', { companyId: 1 }, false) %>
  </li>
</ul>
